:root{
    --clr:#303036;
}
header{
   background-color: var(--clr);
   height: 120px;
   padding-top: 38px;
}
#nav{
    display: flex;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 30px;
    background-color: white;
    align-items: center;
}
#nav ul{
    display: flex;
    align-items: center;
    position: relative;
}
#nav ul li{
    list-style: none;
    color: var(--clr);
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav ul li a ~ .indicator{
    position: absolute;
    width: 50px;
    height: 50px;
    top: -58px;
    left: 51px;
    background-color: rgb(48, 187, 71);
    border: 5px solid var(--clr);
    border-radius: 50%;
    transition: transform .5s;
}
#nav ul li a ~ .indicator::before{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    left: -20px;
    border-top-right-radius: 15px;
    box-shadow: 0 -5px var(--clr);
    background-color: transparent;
}
#nav ul li a ~ .indicator::after{
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 21px;
    right: -20px;
    border-top-left-radius: 15px;
    box-shadow: 0 -5px var(--clr);
    background-color: transparent;
}
#nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    overflow: visible;
}
#nav ul li a .nav-item-icon{
    line-height: 75px;
    position: absolute;
    color: var(--clr);
    transition: transform .4s;
    z-index: 5;
}
#nav ul li a.active .nav-item-icon{
    transform: translateY(-50px); 
    color:white;  
}
#nav ul li a .nav-item-text{
    transition: opacity, transform .4s;
    transform: translateY(40px);
    opacity: 0;
    white-space: nowrap;
    position: absolute;

}
#nav ul li a.active .nav-item-text{
    transform: translateY(0px);
    opacity: 1;
}
#nav ul li:nth-child(1) a ~ .indicator{
    transform: translateX(calc(90px*0));
}
#nav ul li:nth-child(2) a ~ .indicator{
    transform: translateX(calc(90px*1));
}
#nav ul li:nth-child(3) a ~ .indicator{
    transform: translateX(calc(90px*2));
}
#nav ul li:nth-child(4) a ~ .indicator{
    transform: translateX(calc(90px*3));
}
#nav ul li:nth-child(5) a ~ .indicator{
    transform: translateX(calc(90px*4));
}
#nav ul li:nth-child(6) a ~ .indicator{
    transform: translateX(calc(90px*5));
}