.footer{
    min-height: 50vh;
    /* width: 98vw; */
    width: 100%;
    background-color: rgba(33, 35, 36, 0.938);
    background-image: url('https://thumbs.dreamstime.com/b/dotted-background-vector-pattern-halftone-effect-circle-dots-isolated-white-133803483.jpg');
    background-blend-mode: darken;
    color: white;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box;
}
.make-center{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer ul{
    list-style-type: none;
    margin-left: -30px;
}