body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.burger {
  z-index: 100;
  color: white;
}

.add {
  height: 44px;
  overflow: visible;
}

.add-hover {
  display: none;
  position: absolute;
  overflow: hidden;
  left: 20px;
  top: 45px;
  background-color: rgb(236, 238, 240);
}

.add:hover .add-hover {
  display: block;
}

#msg {
  width: 500px;
  background-color: rgb(8, 223, 8);
  color: rgb(224, 228, 212);
  padding: 10px 20px;
  border: 1px solid blue;
  border-radius: 15px;
  display: none;
  font-size: 20px;
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}